


.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #D5F16D;
}
.button:pressed {
    -fx-background-color: #C9E953;
}
.button-style2 {
    -fx-background-color: transparent;
    -fx-border-color: #D5F16D;
    -fx-border-radius: 4;
    -fx-border-width: 2px;
}
.button-style2 .arrow {
    -fx-background-color: transparent;

}

.button-style3 {
    -fx-background-image: url("./Capa_1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
}
.text-style1{
    -fx-background-color: #000;
    -fx-border-radius: 10;
    -fx-prompt-text-fill: #fff;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}
.displayContent{
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.button.select {
    -fx-background-color: #D5F16D;
}